<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.bank.api.admin.mapper.AdminMapper">
	<insert id="registTestCategory" 
	useGeneratedKeys="true"
	keyProperty="test_category_no"
	parameterType="com.quiz.bank.api.admin.vo.TestCategoryParamVO">
	INSERT INTO test_category
	(
		test_category,
		used_yn
	)
	VALUES
	(
		#{test_category},
		true
	)
	</insert>
	<insert id="registSubjectCategoryList" 
	useGeneratedKeys="true"
	keyProperty="subject_category_no"	
	parameterType="com.quiz.bank.api.admin.vo.SubjectCategoryParamVO">
	INSERT INTO subject_category
	(
		test_category_no,
		subject_category,
		used_yn
	)
	VALUES
	(
		#{test_category_no},
		#{subject_category},
		true
	)
	</insert>
	<select id="readTestCategoryList" resultType="com.quiz.bank.api.admin.vo.TestCategoryParamVO">
	SELECT 
		test_category_no,
		test_category		
	FROM
		test_category
	WHERE
		used_yn = true
	</select>
	<select id="readSubjectCategoryList" parameterType="int" resultType="com.quiz.bank.api.admin.vo.SubjectCategoryParamVO">
	SELECT 
		subject_category_no,
		subject_category
	FROM
		subject_category
	WHERE
		used_yn = true
	  AND
		test_category_no = #{test_category_no}
	</select>
	
	
	<insert id="registTest" 
	useGeneratedKeys="true"
	keyProperty="test_no"
	parameterType="com.quiz.bank.api.admin.vo.TestParamVO">
	INSERT INTO
	test_list
	(
		test_category_no,
		test_year,
		test_month,
		test_count,
		test_passrate,
		test_time,
		test_fullscore,
		used_yn	
	)
	VALUES
	(
		#{test_category_no},
		#{test_year},
		#{test_month},
		#{test_count},
		#{test_passrate},
		#{test_time},
		#{test_fullscore},
		true
	)
	</insert>
	
	<insert id="registQuiz" parameterType="com.quiz.bank.api.admin.vo.QuizParamVO">
	INSERT INTO 
	quiz
	(
	test_category_no,
	subject_category_no,
	quiz_content,
	option1,
	option2,
	option3,
	option4,
	option5,
	quiz_answer,
	used_yn
	)
	VALUES
	(
	#{test_category_no},
	#{subject_category_no},
	#{quiz_content},
	#{option1},
	#{option2},
	#{option3},
	#{option4},
	#{option5},
	#{quiz_answer},
	true
	)	
	</insert>
	<select id="readAnswer" parameterType="int" resultType="String">
	SELECT 
		quiz_answer
	FROM
		quiz
	WHERE
		quiz_no = #{quiz_no}	
	</select>
	
	<insert id="registQuizSolve" parameterType="com.quiz.bank.api.admin.vo.QuizSolveParamVO">
	INSERT INTO quiz_solve
	(
	quiz_no,
	solve_dt,
	correct_wrong	
	)
	VALUES
	(
	#{quiz_no},
	now(),
	#{correct_wrong}
	)
	</insert>
	
	<select id="readQuiz" parameterType="int" resultType="com.quiz.bank.api.admin.vo.QuizResultVO">
	SELECT
		test_category_no,
		subject_category_no,
		quiz_content,
		option1,
		option2,
		option3,
		option4,
		option5
	FROM
		quiz
	WHERE
		quiz_no = #{quiz_no}
	</select>
	
	<select id="quizListByTest_no" parameterType="int" resultType="com.quiz.bank.api.admin.vo.QuizParamVO">
	SELECT
		quiz_no,
		quiz_content,
		option1,
		option2,
		option3,
		option4,
		option5,
		test_category,
		subject_category
	FROM
		quiz q
  LEFT JOIN test_category  tcn USING (test_category_no)
	LEFT JOIN subject_category scn USING (subject_category_no)
	WHERE
		q.test_category_no = #{param1}
	AND
		q.used_yn = true
	
	</select>
	
	<select id="quizListBySubject_no" parameterType="int" resultType="com.quiz.bank.api.admin.vo.QuizParamVO">
	SELECT
		quiz_no,
		quiz_content,
		option1,
		option2,
		option3,
		option4,
		option5,
		quiz_answer,
		test_category,
		subject_category
	FROM
		quiz q
  LEFT JOIN test_category  tcn USING (test_category_no)
	LEFT JOIN subject_category scn USING (subject_category_no)
	WHERE
		subject_category_no = #{param1}
	AND
		q.used_yn = true	
	</select>
	
	
</mapper>