<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<style>

#all{
	width : 800px;
  margin :auto;
}
#content-body{
  width : 500px;
  margin-left: 150px;
  margin-right:150px;
  margin-top : 150px;
}
select , input {
	height : 50px;
	border-radius: 5px;
}

</style>
<body>
<div id="all">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">문제풀이 어플</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
        <a class="nav-link" href="/regist/category">카테고리</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/regist/quiz">문제등록</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/solve/selectCategory">문제풀기</a>
        </li>
      </ul>

      </div>
    </div>
    </nav>	
	<div id="content-body">

	<h3>시험과 세부과목을 선택하세요</h3>
	<select id="test_category_select" onchange="test_category_change(this)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example2">
	  <option selected>Open this select menu</option>
	  <option value="1">One</option>
	  <option value="2">Two</option>
	  <option value="3">Three</option>
	</select>
	
	<select id="subject_category_select" class="form-select form-select-lg mb-3" aria-label=".form-select-sm example3">
	  <!-- <option selected value="all">전체</option> -->
	</select>
  <div style=
  "text-align : center;
  margin-top: 20px;
  ">
    <button type="button" onclick="GotoQuiz()" class="btn btn-primary">Go to Quiz!</button>
  </div>
	<script>
		const GotoQuiz=()=>{
			$test_category_no = $('#test_category_select').val();
			$subject_category_no = $('#subject_category_select').val();
			if($test_category_no == "none"){
				alert('시험을 선택해주세요');
				return;
			}

			let url = '';
			if ($subject_category_no == "all") {
				url = `/solve/test/${$test_category_no}`;
			} else {
				url = `/solve/subject/${$subject_category_no}`;
			}
			location.href=url;
		}
	</script>
    </div>
</div>


</body>
<script>
const test_category_list=()=>{
	$.ajax({
		
		url : '/read/testCategoryList',
		dataType : 'json',
		method : 'GET',
		//data : '',
		success : (data)=>{
			testCategoryListDraw(data.test_category_list);
		},
		error : (e)=>{console.log(e)}
		
	});	
}
test_category_list();

const test_category_change=(e)=>{
	console.log(e);
	if(e.value=="none"){
		$('#subject_category_select').empty();
		// $('#subject_category_select').append();	
		return;
	}

	$.ajax({
		url : `/read/subjectCategoryList/${e.value}`,
		method : 'GET',
		success : (data)=>{subjectCategoryListDraw(data.subject_category_list)},
		error : (e)=>console.log(e)
	});

}

const testCategoryListDraw=(tcl)=>{
	let txt = '<option value="none">선택하세요</option>';
	tcl.forEach((item,idx)=>{
		txt += `<option value="${item.test_category_no}">${item.test_category}</option>`;
	});
	$('#test_category_select').empty();
	$('#test_category_select').append(txt);
}

const subjectCategoryListDraw=(scl)=>{
	let txt = '<option value="all">전체</option>';
	scl.forEach((item,idx)=>{
		txt += `<option value="${item.subject_category_no}">${item.subject_category}</option>`;
	});
	$('#subject_category_select').empty();
	$('#subject_category_select').append(txt);	
}



</script>





</html>