<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.rtl.min.css" integrity="sha384-OXTEbYDqaX2ZY/BOaZV/yFGChYHtrXH2nyXJ372n2Y8abBhrqacCEe+3qhSHtLjy" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<style>
#all{
	width : 500px;
}

</style>
<body>


<div id="all">
<fieldset>
<legend>문제내용,해설,과목,세부과목,몇지선다?,옵션1~5,답</legend>

<form>
<select id="test_category_select" name="test_category_no" onchange="test_category_change(this)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<script>
const testCategoryListDraw=(tcl)=>{
	let txt = '';
	tcl.forEach((item,idx)=>{
		txt += `<option value="${item.test_category_no}">${item.test_category}</option>`;
	});
	$('#test_category_select').empty();
	$('#test_category_select').append(txt);
}

const test_category_list=()=>{
	$.ajax({
		
		url : 'read/testCategoryList',
		dataType : 'json',
		method : 'GET',
		//data : '',
		success : (data)=>{
			testCategoryListDraw(data.test_category_list);
		},
		error : (e)=>{console.log(e)}
		
	});	
}
test_category_list();
</script>


<select id="subject_category_select" name="subject_category_no" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
<script>
const test_category_change=(e)=>{
	$.ajax({
		url : `read/subjectCategoryList/${e.value}`,
		method : 'GET',
		success : (data)=>{subjectCategoryListDraw(data.subject_category_list)},
		error : (e)=>console.log(e)
	});

}
const subjectCategoryListDraw=(scl)=>{
	let txt = '';
	scl.forEach((item,idx)=>{
		txt += `<option value="${item.subject_category_no}">${item.subject_category}</option>`;
	});
	$('#subject_category_select').empty();
	$('#subject_category_select').append(txt);	
}

</script>



<div class="form-floating">
  <textarea class="form-control" name="content" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">content</label>
</div>
<div class="form-floating">
  <textarea class="form-control" name="explation" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <label for="floatingTextarea2">explation</label>
</div>
	<div id="option-group">
		<div class="input-group">
		  <div class="input-group-text">
		    <input class="form-check-input mt-0" name="answer" type="radio" value="" aria-label="Radio button for following text input">
		  </div>
		  <input type="text" class="form-control" name="option1" aria-label="Text input with radio button">
		</div>
		<div class="input-group">
		  <div class="input-group-text">
		    <input class="form-check-input mt-0" name="answer" type="radio" value="" aria-label="Radio button for following text input">
		  </div>
		  <input type="text" class="form-control" name="option2" aria-label="Text input with radio button">
		</div>
		<div class="input-group">
		  <div class="input-group-text">
		    <input class="form-check-input mt-0" name="answer" type="radio" value="" aria-label="Radio button for following text input">
		  </div>
		  <input type="text" class="form-control" name="option3" aria-label="Text input with radio button">
		</div>
		<div class="input-group">
		  <div class="input-group-text">
		    <input class="form-check-input mt-0" name="answer" type="radio" value="" aria-label="Radio button for following text input">
		  </div>
		  <input type="text" class="form-control" name="option4" aria-label="Text input with radio button">
		</div>
		<div class="input-group">
		  <div class="input-group-text">
		    <input class="form-check-input mt-0" name="answer" type="radio" value="" aria-label="Radio button for following text input">
		  </div>
		  <input type="text" class="form-control" name="option5" aria-label="Text input with radio button">
		 </div>
	</div>
	<button type="button" id="regist-quiz-btn" class="btn btn-primary">Primary</button>
	
</form>
</fieldset>
</div>
</body>
<script>
$('#regist-quiz-btn').click(()=>{
	const form_data = $('form').serializeArray();
	param = {};
	form_data.forEach((item,idx)=>{
		param[item.name] = item.value;
	});
	
	$.ajax({
		url : 'regist/quiz',
		method : 'GET',
		dataType : 'json',
		data : JSON.stringify(param),
		contentType : 'application/json',
		success : (data)=>{console.log(data)},
		error : ()=>{}
	});	
});









</script>
</html>